html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Mostrar y ocultar contraseña*/
.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    padding-right: 2.5rem; /* espacio para el icono */
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa; /* color del icono */
}

.password-container .toggle-password:hover {
    color: #000; /* color del icono al pasar el ratón por encima */
}
/*Mostrar y ocultar contraseña*/

/*ESTADOS*/
.entrante {
    background-color: #66ff5c; /* Verde más suave pero aún visible */
    font-weight: bold;
}

.reparando {
    background-color: #fff4a3; /* Amarillo suave, no tan brillante */
    font-weight: bold;
}

.terminado {
    background-color: #6a7bff; /* Azul intermedio, menos brillante */
    font-weight: bold;
}

.entregado {
    background-color: #8cb3ff; /* Azul más suave, pero todavía visible */
    font-weight: bold;
}

.sin-reparacion {
    background-color: #ff3333; /* Rojo intenso, manteniendo el tono rojo */
    font-weight: bold;
    color: white;
}

.sin-falla-encontrada {
    background-color: #d58cff; /* Púrpura más tenue, intermedio */
    font-weight: bold;
}

.esperando-confirmacion {
    background-color: #ff8c4d; /* Naranja intermedio, menos brillante */
    font-weight: bold;
}

.esperando-repuesto {
    background-color: #b0b0b0; /* Gris intermedio, más suave */
    font-weight: bold;
}
